{% extends "base.html" %} {% block content %}
  <h1>Muokkaa lahjaa {{gift.name}}</h1>

  {% if errors %}
    <div class="alert alert-danger">
      <ul>
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <form method="post" action="{{base_path}}/gifts/{{gift.id}}/edit">
    <div class="form-group">
      <label>Nimi</label>
      <input name="name" class="form-control" value="{{gift.name}}" type="text">
    </div>

    <div class="form-group">
      <label>Saaja</label>
      <select name="person" class="form-control">
        {% for person in people %}
          {% if gift.person_id == person.id %}
            <option value="{{person.id}}" selected>{{person.name}}</option>
          {% else %}
            <option value="{{person.id}}">{{person.name}}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <label>Tagit</label>
      <input name="tags" class="form-control" type="text">
    </div>

    <div class="form-group">
      <label>Kuvaus</label>
      <textarea name="description" class="form-control">{{gift.description}}</textarea>
    </div>

    <div class="form-check">
      {% if gift.status == 'true' %}
        <input name="status" class="form-check-input" value="true" type="checkbox" checked>
      {% else %}
        <input name="status" class="form-check-input" value="true" type="checkbox">
      {% endif %}
      <label class="form-check-label">
        Annettu
      </label>
    </div>
      
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Tallenna</button>
      <a href="{{base_path}}/gifts/{{gift.id}}" type="button" class="btn btn-danger">Peruuta</a>
    </div>
  </form>
{% endblock %}