{% extends "base.html" %} {% block content %}
  <h1>Lahjojen saajat</h1>

  {% if message %}
    <div class="alert alert-success">{{message}}</div>
  {% endif %}

  <p>
    <a href="{{base_path}}/people/new" class="btn btn-success">Lisää henkilö</a>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Syntymäpäivä</th>
      </tr>
    </thead>

    <tbody>
      {% for person in people %}
        <tr>
          <td><a href="{{base_path}}/people/{{person.id}}">{{person.name}}</td>
          <td>{{person.birthday}}</td>
          <td><a class="btn btn-default btn-sm" href="{{base_path}}/people/{{person.id}}/edit">Muokkaa</a></td>
        </tr>
      {% endfor %}
    </tbody>
    
  </table>
{% endblock %}