{% extends "base.html" %}
{% block content %}
  <h1>Lisää uusi henkilö</h1>

  <form method="post" action="{{base_path}}/people">
    <div class="form-group">
      <label>Nimi</label>
      <input name="name" class="form-control" type="text">
    </div>

    <div class="form-group">
      <label>Syntymäpäivä</label>
      <input name="birthday" class="form-control" type="date">
    </div>

    <div class="form-group">
      <label>Kuvaus</label>
      <textarea name="description" class="form-control"></textarea>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Lisää</button>
      <a href="{{base_path}}/people" type="button" class="btn btn-danger">Peruuta</a>
    </div>
    
  </form>
{% endblock %}