{% extends "base.html" %}
{% block content %}
  <h1>Nintendo Switch</h1>

  <ul>
    <li><strong>Saaja:</strong> <a href="#">Ukko Nooa</a></li>
    <li><strong>Tagit:</strong> <a href="#">Syntymäpäivälahja</a>, <a href="#">Elektroniikka</a></li>
    <li><strong>Status:</strong> <label class="label label-danger">ei annettu</label></li>
    <li><strong>Lisäyspäivä:</strong> 27.12.2017</li>
  </ul>

  <p>
    Nintendo Switch on Nintendon pelikonsoli, joka julkaistiin 3. maaliskuuta 2017. Pelikonsolia voi käyttää sekä kannettavana käsikonsolina että telakoituna kotikonsolina, joka kytketään televisioon. Laitteessa on kaksi irrotettavaa Joy-Con-ohjainta.
  </p>

  <p>
    <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a>
  </p>
{% endblock %}